<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container-md shadow-sm mt-4 mb-4">
      <div class="row bg-light p-3" dir="{% direction %}">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 content">{{content}} {% include edit_page.html translatable=true %}</div>
        <div class="col-lg-2"></div>
        </div>
      </div>
      {% include footer.html %}
      <script>
      anchors.add();
    </script>
  </body>
</html>
