<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container-md shadow-sm rounded mt-3 mb-3">
      <div class="row bg-light rounded p-3" dir="{% direction %}">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 content">{{content}} {% include edit_page.html translate_file=page.path %}</div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    {% include footer.html %}
    <script>
      anchors.add();
    </script>
  </body>
</html>
