<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="container-md mt-4 mb-4">
      <div class="row bg-light p-3" dir="{% direction %}">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 content">
          {{content}}
          <div class="row p-3">
            <div class="col text-end">
              <a href="{{ site.baseurl }}/user-guides/">{% t dict.guide.back %}</a>
            </div>
          </div>
          {% include edit_page.html translate_file=page.path %}
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    {% include footer.html %}
    <script>
      anchors.add();
    </script>
  </body>
</html>
