@import "vars";

.faq {
  h3 {
    margin-top: 20px;
    padding-top: 16px;
    border-top: 1px solid var(--primary-color);
  }

  a {
    text-decoration: none;
  }

  .group {
    padding-top: 16px;

    .col {
      font-weight: 600;
      padding-bottom: 10px;
    }
  }

  .separator {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .read_more {
    padding-top: 12px;
  }
}
