@import "vars";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #4c4c4c;
  background-color: $background-color;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-top {
  height: 86px;
}

.logo img {
  width: 200px;
}

/* border for menu */
@media (min-width: 992px) {
  .border-md-top-0 {
    border-top: 0 !important;
  }
}

a:hover {
  color: $primary-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
}

h1 {
  padding-bottom: 20px;
  line-height: 1.25;
}

.btn-fixed {
  background-color: $primary-color !important;
  color: $background-color;
  width: 240px;
  height: 46px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0%;
  vertical-align: middle !important;
  line-height: 46px;
  padding: 0;
  margin: 16px;

  &:hover {
    background-color: $secondary-color !important;
    color: $background-color !important;
  }
}

.footer {
  background-color: #777777;

  .text-muted {
    color: $background-color !important;
    font-size: 12px;

    a {
      color: $background-color !important;
      text-decoration: none;
    }
  }
}

.pactus-video {
  video {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.highlighter-rouge .highlight pre {
  padding: 32px 12px 12px 12px;
  color: $background-color;
  position: relative;
  overflow: auto;

  button {
    position: absolute;
    top: 4px;
    right: 4px;

    padding: 2px;
    background-color: #808080;
    color: #404040;
    border-radius: 5px;
    border: ridge 1px #808080;

    &:hover {
      cursor: pointer;
      background-color: #bcbabb;
    }
  }
}

.nav-tabs {
  border-color: #404040 !important;

  a {
    color: #404040;
  }

  .nav-link {
    border-width: 0 !important;

    &:not(.active):hover {
      background-color: #808080 !important;
      color: $background-color !important;
    }
  }

  .active {
    color: $background-color !important;
    background-color: #404040 !important;
  }
}

table {
  tbody tr:nth-child(2n + 1) td {
    background-color: #eee;
  }
}
