@import "vars";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $font-color;
  background-color: $background-color;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-top {
  height: 86px;
}

.logo img {
  width: 200px;
}

/* border for menu */
@media (min-width: 992px) {
  .border-md-top-0 {
    border-top: 0 !important;
  }
}

a:hover {
  color: $primary-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
  padding-bottom: 12px;
  padding-top: 14px;
}

h1 {
  font-weight: 600;
}

.topnav {
  .nav-link {
    font-weight: 500;
  }
}

.btn-fixed {
  background-color: $primary-color !important;
  color: $background-color;
  width: 220px;
  height: 46px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0%;
  vertical-align: middle !important;
  line-height: 46px;
  padding: 0;
  margin: 16px;

  &:hover {
    background-color: $secondary-color !important;
    color: $background-color !important;
  }
}

.footer {
  background-color: #777777;

  .text-muted {
    color: $background-color !important;
    font-size: 12px;

    a {
      color: $background-color !important;
      text-decoration: none;
    }
  }
}

.pactus-video {
  video {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.highlighter-rouge .highlight pre {
  padding: 32px 12px 12px 12px;
  color: $background-color;
  position: relative;
  overflow: auto;

  button {
    position: absolute;
    top: 6px;
    right: 8px;

    padding: 2px;
    background-color: #808080;
    color: #404040;
    border-radius: 5px;
    border: ridge 1px #808080;

    &:hover {
      cursor: pointer;
      background-color: #bcbabb;
    }
  }
}

.nav-tabs {
  border-color: #404040 !important;

  a {
    color: #404040;
  }

  .nav-link {
    border-width: 0 !important;

    &:not(.active):hover {
      background-color: #808080 !important;
      color: $background-color !important;
    }
  }

  .active {
    color: $background-color !important;
    background-color: #404040 !important;
  }
}

table {
  tbody tr:nth-child(2n + 1) td {
    background-color: #eee;
  }
}

blockquote {
  background: #eee;
  border-left: 10px solid #ccc;
  padding: 16px;
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 64px;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }

  p {
    margin-top: 16px;
  }

  & p:first-child {
    display: inline;
    padding-bottom: 160px;
    margin-bottom: 160px;
  }
}

.footer {
  background-color: $primary-color !important;
  color: $background-color !important;

  .section {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.25;
    padding-bottom: 20px;
  }

  li {
    padding-bottom: 8px !important;
  }

  &.anchor {
    a {
      color: #ffffff;
    }

    a:link {
      color: rgb(239, 241, 239);
      background-color: transparent !important;
      text-decoration: none !important;
    }

    a:hover {
      color: rgb(239, 241, 239) !important;
    }
  }
}

.community {
  img {
    margin: 4px;
  }
}
