@import "vars";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: $font-color;
  background-color: $bg-color;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  .nav-top {
    height: 86px;
  }

  .fixed-menu {
    width: 220px;
  }

  .logo img {
    width: 200px;
  }
}

a {
  text-decoration: none;

  a:hover:not(.btn) {
    color: $primary-color  !important;
  }
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.25;
  padding-bottom: 12px;
  padding-top: 14px;
}

h1 {
  font-weight: 600;
}

.motto {
  .title {
    font-weight: 600;
    font-size: 32px;
    padding-top: 36px;
  }

  .motto {
    font-weight: 500;
    font-size: 19px;
  }

}

.btn-fixed {
  border-width: 2px;
  border-style: solid;
  width: 220px;
  height: 46px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px 5px 5px 5px;
  vertical-align: middle !important;
  line-height: 42px;
  padding: 0;
  margin: 16px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);

  &.btn-more {
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $bg-color  !important;
    }
  }

  &.btn-faq {
    border-color: $primary-color;
    background-color: $primary-color;
    color: $bg-color;

    &:hover {
      background-color: $primary-color;
      color: $bg-color  !important;
    }
  }

  &.btn-community {
    border-color: $community-color;
    background-color: $community-color;
    color: $bg-color  !important;

    &:hover {
      background-color: $community-color;
      color: $bg-color  !important;
    }
  }
}

.footer {
  .text-muted {
    color: $bg-color  !important;
    font-size: 12px;
    border-radius: 15px 50px 30px 5px;

    a {
      color: $bg-color  !important;
    }
  }
}

.pactus-video {
  video {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.highlighter-rouge .highlight pre {
  padding: 32px 12px 12px 12px;
  color: $bg-color;
  position: relative;
  overflow: auto;
  direction: ltr;

  button {
    position: absolute;
    top: 6px;
    right: 8px;

    padding: 2px;
    background-color: #808080;
    color: #404040;
    border-radius: 5px;
    border: ridge 1px #808080;

    &:hover {
      cursor: pointer;
      background-color: #bcbabb;
    }
  }
}

.nav-tabs {
  border-color: #404040 !important;

  a {
    color: #404040;
  }

  .nav-link {
    border-width: 0 !important;

    &:not(.active):hover {
      background-color: #808080 !important;
      color: $bg-color  !important;
    }
  }

  .active {
    color: $bg-color  !important;
    background-color: #404040 !important;
  }
}

table {
  tbody tr:nth-child(2n + 1) td {
    background-color: #eee;
  }
}

blockquote {
  background: #eee;
  border-left: 10px solid #ccc;
  padding: 16px;
  quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 64px;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }

  p {
    margin-top: 16px;
  }

  & p:first-child {
    display: inline;
    padding-bottom: 160px;
    margin-bottom: 160px;
  }
}

.footer {
  background-color: $primary-color  !important;
  color: $bg-color  !important;

  .section {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.25;
    padding-bottom: 20px;
  }

  li {
    padding-bottom: 8px !important;
  }

  &.anchor {
    a {
      color: #ffffff;
    }

    a:link {
      color: rgb(239, 241, 239);
      background-color: transparent !important;
      text-decoration: none !important;
    }

    a:hover {
      color: rgb(239, 241, 239) !important;
    }
  }
}

.community {
  img {
    margin: 4px;
  }
}

#btn-back-to-top {
  background-color: $primary-color;
  color: $bg-color;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.edit-bar {
  padding-top: 30px;
  // border-top: $border-top;

  .edit-btn,
  .edit-btn>a:hover {
    color: $font-color;
    text-decoration: none;
  }
}

.all-posts {
  .post-link {
    padding-bottom: 8px;
  }
}

.blog-post {
  .post-date {
    padding-bottom: 10px;
    color: #808080;
  }
  .content {
    padding-top: 22px;
    min-height: 600px;
  }
}

.partners {
  img {
    padding-top: 24px;
  }
}
