@import "vars";

// Variable overrides first
$primary: $primary-color;
$secondary: $secondary-color;
$enable-shadows: true;
$prefix: "pa-";

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
// @import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar"; // Requires nav
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  max-width: 1200px;
  margin: 0 auto;
}

.btn-primary {
  color: var(--text-color-reverse);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--primary-color);
  background: none;
  border-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--text-color-reverse);
  }
}

.btn-secondary {
  color: #ffffff;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.navbar {
  .nav-top {
    height: 86px;
  }

  .fixed-menu {
    width: 220px;
  }

  .logo img {
    width: 200px;
  }
}

a {
  text-decoration: underline;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }

  &:active {
    color: var(--link-color);
  }
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.25;
  padding-bottom: 12px;
  padding-top: 14px;
}

h1 {
  font-weight: 600;
}

h3 {
  padding-top: 16px;
}

.motto {
  .title {
    font-weight: 600;
    font-size: 32px;
    padding-top: 36px;
  }

  .motto {
    font-weight: 500;
    font-size: 20px;
  }

  .short {
    font-weight: 500;
    font-size: 12px;
  }

}

.btn-fixed {
  border-width: 2px;
  border-style: solid;
  width: 220px;
  height: 46px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px 5px 5px 5px;
  vertical-align: middle;
  line-height: 42px;
  padding: 0;
  margin: 16px;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}


.pactus-video {
  video {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.highlighter-rouge .highlight pre {
  background-color: #0d1117;
  padding: 32px 12px 12px 12px;
  color: #cccccc;
  position: relative;
  overflow: auto;
  direction: ltr;

  button {
    position: absolute;
    top: 6px;
    right: 8px;

    padding: 2px;
    background-color: #808080;
    color: #404040;
    border-radius: 5px;
    border: ridge 1px #808080;

    &:hover {
      cursor: pointer;
      background-color: #bcbabb;
    }
  }
}

.nav-tabs {
  border-color: #0d1117 !important;

  .nav-link {
    border-width: 0 !important;

    &:not(.active):hover {
      color: #ffffff !important;
      background-color: #808080 !important;
    }
  }

  .active {
    color: #ffffff !important;
    background-color: #0d1117 !important;
  }
}

.table {
  thead tr th {
    font-weight: 700;
    background-color: var(--bg-color) !important;
  }

  // tbody tr:nth-child(2n + 1) td {
  //   background-color: #eee;
  // }
}

blockquote {
  background: #eee;
  border-left: 10px solid #ccc;
  padding: 16px;
  quotes: "\201C" "\201D" "\2018" "\2019";

  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 64px;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }

  p {
    margin-top: 16px;
  }

  & p:first-child {
    display: inline;
    padding-bottom: 160px;
    margin-bottom: 160px;
  }
}

.footer {
  background-color: var(--primary-color);
  color: var(--text-color-reverse);

  .section {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.25;
    padding-bottom: 20px;
  }

  li {
    padding-bottom: 8px;
  }

  &.anchor {
    a {
      color: var(--text-color-reverse);
    }

    a:link {
      color: var(--text-color-reverse);
      background-color: transparent;
      text-decoration: none;
    }

    a:hover {
      color: var(--text-color-reverse);
    }
  }

  .legal {
    color: var(--text-color-reverse);
    font-size: 12px;
  }
}

.community {
  img {
    margin: 4px;
  }
}

.community_ran {
  img {
    margin: 4px;
  }
}

#btn-back-to-top {
  background-color: var(--primary-color);
  color: var(--bg-color);
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.edit-bar {
  padding-top: 30px;

  .edit-btn,
  .edit-btn>a:hover {
    color: var(--text-color);
    text-decoration: none;
  }
}

.all-posts {
  .post-link {
    padding-bottom: 8px;
  }
}

.blog-post {
  .post-date {
    padding-bottom: 10px;
    color: #808080;
  }

  .content {
    padding-top: 22px;
    min-height: 600px;
  }
}

.partners {
  img {
    padding-top: 24px;
  }
}

.sensifai{
  max-width: 300px;
}