@import "vars";

.toc {

  .btn,
  a {
    color: var(--text-color);
  }

  .btn-section {
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    background-color: transparent;
  }

  .btn-section:hover,
  .btn-section:focus {
    background-color: var(--bg-color);
  }

  .btn-page a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
  }

  .btn-page a:hover,
  .btn-page a:focus,
  .btn-page .selected {
    background-color: var(--bg-color);
  }
}
