$primary-color: #021a34;
$secondary-color: #23547b;
$bg-color: #edeef0;
$font-color: #4c4c4c;
$community-color: #075f94;

$primary-color-dark: #ff7e00;
$secondary-color-dark: #ff4500;
$bg-color-dark: #0c0d0e;
$font-color-dark: #ffffff;
$community-color-dark: #00a9e0;
