$primary-color: #021a34;
$secondary-color: #075f94;
$bg-color: #edeef0;
$font-color: #4c4c4c;

$primary-color-dark: #edeef0;
$secondary-color-dark: #075f94;
$bg-color-dark: #0c0d0e;
$bg-color-dark-2: #212529;
$font-color-dark: #edeef0;

