$primary-color: #021a34;
$secondary-color: #075f94;
$bg-color: #edeef0;
$font-color: #4c4c4c;
$font-color-2: #edeef0;

$primary-color-dark: #edeef0;
$secondary-color-dark: #075f94;
$tertiary-color-dark: #22272e;
$bg-color-dark: #14171c;
$bg-color-dark-2: #22272e;
$font-color-dark: #edeef0;

