@include color-mode(dark) {
  body {
    color: $font-color-dark;
    background-color: $bg-color-dark;
    --pa-body-bg-rgb: 34, 39, 46;
  
    --pa-body-bg: #22272e;
  }

  .btn-primary {
    color: $bg-color-dark-2;
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
  }

  .btn-outline-primary {
    color: $primary-color-dark;
    background-color: $bg-color-dark-2;
    border-color: $primary-color-dark;

    &:hover {
      background-color: $primary-color-dark;
      color: $bg-color-dark-2;
    }
  }

  .edit-btn {
    color: $font-color-2;
  }

  .faq h3 {
      color: $font-color-2;
    }

  .toc a {
      color: #8f8f8f;

      &:hover {
        background-color: #14171c;
      }
    }

  .toc .btn {
      color: $font-color-2;
    } 

  .toc .btn:hover {
      background-color: #14171c;
    }
    
  blockquote {
      background: #14171c;
    }

  .highlight pre {
      background-color: #14171c;
    }

  .learn h2 {
      border-top: 1px solid #edeef0;
    }

  .faq h3 {
      border-top: 1px solid #edeef0;
    }

  table {
    tbody tr:nth-child(2n + 1) td {
      background-color: #22272e;
    }
  }

  .fa-linux { 
      color: #ffffff; }
}
