body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #4c4c4c;
  background-color: #edeef0;
}

.nav-top {
  height: 86px;
}

.hexdump {
  font-family: monospace;
  font-size: 12px;
}

.hexdump .offset {
  border-right: 2px solid #708090;
  color: #778899;
}
.hexdump .ascii {
  color: #696969;
}
