<footer class="page-footer font-small">
  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <img height="48" src="{{ site.baseurl }}/assets/images/twitter.svg">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <img height="48" src="{{ site.baseurl }}/assets/images/telegram.svg">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <img height="48" src="{{ site.baseurl }}/assets/images/instagram.svg">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <img height="48" src="{{ site.baseurl }}/assets/images/discord.svg">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <img height="48" src="{{ site.baseurl }}/assets/images/reddit.svg">
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <img height="48" src="{{ site.baseurl }}/assets/images/github.svg">
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center">
    <p class="text-muted">
      The content of this website is available under the <a href="https://creativecommons.org/licenses/by-nc/4.0/"
        rel="nofollow">Commons Attribution-NonCommercial 4.0 (CC BY-NC 4.0)</a>.</p>
  </div>
</footer>