@import "palette.scss";

// https://v2.vuepress.vuejs.org/reference/default-theme/styles.html#style-file
.home .hero img {
  max-width: 450px !important;
}

.discord {
  text-align: center
}

.custom-container {
  &.quote {
    background: var(--c-bg-light);
    border-left: 10px solid var(--c-border);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }

  &.right {
    font-size: 0.9rem;
    text-align: right;
  }
}
