<li class="nav-item dropdown ps-0">
  <button class="btn btn-link nav-link dropdown-toggle"
    id="bd-theme"
    type="button"
    aria-expanded="false"
    data-bs-toggle="dropdown"
    data-bs-display="static"
    aria-label="Toggle theme (auto)">
    <i id="bd-theme-text" class="fa-solid fa-fw fa-circle-half-stroke"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow-sm pe-0 fixed-menu">
    <li>
      <button type="button" class="dropdown-item ps-3" data-bs-theme-value="light">
        <use fa-name="fa-sun"></use>
        <i class="fa-solid fa-fw fa-sun"></i> Light
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item ps-3" data-bs-theme-value="dark">
        <use fa-name="fa-moon"></use>
        <i class="fa-solid fa-fw fa-moon"></i> Dark
      </button>
    </li>
  </ul>
</li>
