<li class="nav-item dropdown ps-2 ms-0">
  <button class="btn btn-link nav-link dropdown-toggle"
    id="bd-theme"
    type="button"
    aria-expanded="false"
    data-bs-toggle="dropdown"
    data-bs-display="static"
    aria-label="Toggle theme (auto)">
    <i id="bd-theme-icon" class="fa-regular fa-fw fa-circle-half-stroke"></i>
    <span class="d-lg-none bd-theme-text m-0 p-0" id="bd-theme-text">Toggle theme</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-end shadow-sm pe-0 fixed-menu">
    <li>
      <button type="button" class="dropdown-item ps-2" data-bs-theme-value="light">
        <i class="fa-regular fa-fw fa-sun"></i> Light
      </button>
    </li>
    <li>
      <button type="button" class="dropdown-item ps-2" data-bs-theme-value="dark">
        <i class="fa-solid fa-fw fa-moon"></i> Dark
      </button>
    </li>
  </ul>
</li>
