<div class="container-md border-top footer anchor">
  <footer class="container-fluid py-4">
    <div class="container">
      <div class="row around-xs footer-wrapper">
        <div class="col-sm-3 col-xs-6">
          <div class="section">Resources</div>
          <ul class="list-unstyled">
            <li>
              <a class="anchor" href="/get-started/what-is-pactus/">About Pactus</a>
            </li>
            <li>
              <a class="anchor" href="/reference/">Developer Guides</a>
            </li>
            <li><a href="/download/">Downloads</a></li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="section">Pactus Project</div>
          <ul class="list-unstyled">
            <li>
              <a class="anchor" href="https://github.com/pactus-project">Pactus Github</a>
            </li>
            <li>
              <a class="anchor" href="/reference/consensus/sortition/">Pactus Consensus</a>
            </li>
            <!-- <li>
              <a class="anchor" href="https://www.pactusscan.com/">Pactus Scanner</a>
            </li> -->
          </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
          <div class="section">Community</div>
          <ul class="list-unstyled">
            <li>
              <a class="anchor" href="https://discord.gg/H5vZkNnXCu">
                <i class="fa-brands fa-fw fa-discord"></i>
                Join our Discord
              </a>
            </li>
            <li>
              <a class="anchor" href="https://t.me/pactusblockchain">
                <i class="fa-brands fa-fw fa-telegram"></i>
                Join our Telegram
              </a>
            </li>
            <li>
              <a class="anchor" href="https://twitter.com/pactuschain/">
                <i class="fa-brands fa-fw fa-twitter"></i>
                Follow us on Twitter
              </a>
            </li>
            <li>
              <a class="anchor" href="https://www.instagram.com/pactus.blockchain/">
                <i class="fa-brands fa-fw fa-instagram"></i>
                Follow us on Instagram
              </a>
            </li>
            <li>
              <a class="anchor" href="https://www.linkedin.com/company/pactus-blockchain">
                <i class="fa-brands fa-fw fa-linkedin"></i>
                Follow us on LinkedIn
              </a>
            </li>
            <li>
              <a class="anchor" href="mailto:admin@pactus.corg">
                <i class="fa-fw fa fa-envelope"></i>
                admin@pactus.corg
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
          <img alt="Discord" src="{{ site.url }}/assets/images/logos/text_logo.png" />
        </div>
      </div>
    </div>
  </footer>
</div>
