<div class="container-fluid bg-dark border-top">
  <footer class="py-5">
    <div class="row"></div>
    <div class="footer-copyright text-center">
      <div class="">
        <ul class="list-unstyled d-flex justify-content-center">
          <li class="ms-3">
            <a class="social-media" href="https://github.com/pactus-project/">
              <img
                width="48"
                src="{{ site.url }}/assets/images/social_github.svg" />
            </a>
          </li>
          <li class="ms-3">
            <a class="social-media" href="https://twitter.com/pactuschain/">
              <img
                width="48"
                src="{{ site.url }}/assets/images/social_twitter.svg" />
            </a>
          </li>
          <li class="ms-3">
            <a class="social-media" href="https://discord.gg/H5vZkNnXCu">
              <img
                width="48"
                src="{{ site.url }}/assets/images/social_discord.svg" />
            </a>
          </li>
          <li class="ms-3">
            <a
              class="social-media"
              href="https://www.instagram.com/pactus.blockchain/">
              <img
                width="48"
                src="{{ site.url }}/assets/images/social_instagram.svg" />
            </a>
          </li>
          <li class="ms-3">
            <a class="social-media" href="https://t.me/pactusblockchain">
              <img
                width="48"
                src="{{ site.url }}/assets/images/social_telegram.svg" />
            </a>
          </li>
          <li class="ms-3">
            <a
              class="social-media"
              href="https://www.linkedin.com/company/pactus-blockchain">
              <img
                width="48"
                src="{{ site.url }}/assets/images/social_linkedin.svg" />
            </a>
          </li>
        </ul>
      </div>

      <p class="text-muted">
        The content of this website is available under the
        <a
          href="https://creativecommons.org/licenses/by-nc/4.0/"
          rel="nofollow">
          Commons Attribution-NonCommercial 4.0 (CC BY-NC 4.0)
        </a>
        .
      </p>
    </div>
  </footer>
</div>
