<div class="container-md border-top footer anchor">
  <footer class="container-fluid py-4">
    <div class="container">
      <div class="row around-xs footer-wrapper">
        <div class="col-md-3 col-xs-6">
          <div class="section">{% t dict.pactus_project %}</div>
          <ul class="list-unstyled">
            <li>
              <a class="anchor" href="{{ site.baseurl }}/about/what-is-pactus/">{% t dict.what_is.title %}</a>
            </li>
            <li>
              <a class="anchor" href="{{ site.baseurl }}/about/roadmap/">{% t dict.roadmap.title %}</a>
            </li>
            <li>
              <a class="anchor" href="{{ site.baseurl }}/download/">{% t dict.download.title %}</a>
            </li>
            <li>
              <a class="anchor" href="{{ site.baseurl }}/learn/">{% t dict.learn.title %}</a>
            </li>
            <li>
              <a class="anchor" href="{{ site.baseurl }}/blog/">{% t dict.blog.title %}</a>
            </li>
            <li>
              <a class="anchor" href="{{ site.baseurl }}/about/faq/">{% t dict.faq.title %}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="section">{% t dict.resources %}</div>
          <ul class="list-unstyled">
            <li>
              <a class="anchor" href="{{ site.baseurl }}/community/">{% t dict.community.title %}</a>
            </li>
            <li>
              <a class="anchor" href="{{ site.baseurl }}/contributing/">{% t dict.contributing %}</a>
            </li>
            <li>
              <a class="anchor" href="{{ site.baseurl }}/user-guides/">{% t dict.guide.title %}</a>
            </li>
            <li>
              <a class="anchor" href="https://pips.pactus.org" target="_blank">{% t dict.pips %}</a>
            </li>
            <!-- <li>
              <a class="anchor" href="https://labs.sensifia.com/" target="_blank" rel="noopener noreferrer">
                {% t dict.laboratory %}
              </a>
            </li> -->
            <li>
              <a class="anchor" href="https://www.pactusscan.com/" target="_blank" rel="noopener noreferrer">
                {% t dict.block_explorer %}
              </a>
            </li>
            <li>
              <a class="anchor" href="https://github.com/pactus-project/" target="_blank" rel="noopener noreferrer">
                {% t dict.source_code %}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="section">{% t dict.community.title %}</div>
          <ul class="list-unstyled">
            <li>
              <a class="anchor" href="https://discord.gg/H5vZkNnXCu">
                <i class="fa-brands fa-fw fa-discord"></i>
                {% t dict.community.discord %}
              </a>
            </li>
            <li>
              <a class="anchor" href="https://x.com/pactuschain/">
                <i class="fa-brands fa-fw fa-twitter"></i>
                {% t dict.community.twitter %}
              </a>
            </li>
            <li>
              <a class="anchor" href="https://instagram.com/pactus.blockchain/">
                <i class="fa-brands fa-fw fa-instagram"></i>
                {% t dict.community.instagram %}
              </a>
            </li>
            <li>
              <a class="anchor" href="https://t.me/pactusblockchain">
                <i class="fa-brands fa-fw fa-telegram"></i>
                {% t dict.community.telegram %}
              </a>
            </li>
            <li>
              <a class="anchor" href="https://linkedin.com/company/pactus-blockchain">
                <i class="fa-brands fa-fw fa-linkedin"></i>
                {% t dict.community.linkedin %}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-xs-6">
          <ul class="list-unstyled">
            <li>
              <img alt="Pactus" src="{{ site.url }}/assets/images/logos/text_logo.png" />
            </li>

            <li>
              <a class="anchor" href="https://goo.gl/maps/aYMYxy6pWJzAtxf56">
                <i class="fa-solid fa-map"></i>
                Dammstrasse 16, 6300 Zug, Switzerland
              </a>
            </li>
            <li>
              <a class="anchor" href="mailto:info@pactus.org">
                <i class="fa-solid fa-envelope"></i>
                info@pactus.org
              </a>
            </li>
            <li>
              <a class="anchor" href="tel:+41767011335">
                <i class="fa-solid fa-phone"></i>
                +41 76 701 13 35
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
