<div class="shadow-sm rounded-bottom">
  <nav class="navbar rounded-bottom navbar-expand-lg bg-body">
    <div class="container-fluid">
      <a class="navbar-brand logo px-4 pt-2" href="{{ site.baseurl }}/">
        <img id="logo_image" src="{{ site.url }}/assets/images/logos/pactus-logo-light.png" alt="Pactus blockchain" />
      <div class="logo"></div>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="topnav navbar-nav" style="margin-left: auto !important">
          <li class="nav-item dropdown ps-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% t dict.about %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm pe-0 fixed-menu">
              <li>
                <a class="nav-link dropdown-item ps-2" href="{{ site.baseurl }}/about/what-is-pactus/">
                  {% t dict.what_is.title %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-2" href="{{ site.baseurl }}/about/roadmap/">
                  {% t dict.roadmap.title %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-2" href="{{ site.baseurl }}/about/faq/">{% t dict.faq.title %}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item ps-2">
            <a class="nav-link" href="{{ site.baseurl }}/learn/">{% t dict.learn.title %}</a>
          </li>
          <li class="nav-item ps-2">
            <a class="nav-link" href="{{ site.baseurl }}/download/">{% t dict.download.title %}</a>
          </li>
          <li class="nav-item ps-2">
            <a class="nav-link" href="{{ site.baseurl }}/blog/">{% t dict.blog.title %}</a>
          </li>
          <li class="nav-item dropdown ps-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% t dict.resources %}
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm pe-0 fixed-menu">
              <li>
                <a class="nav-link dropdown-item ps-2" href="{{ site.baseurl }}/community/">
                  {% t dict.community.title %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-2" href="{{ site.baseurl }}/contributing/">
                  {% t dict.contributing %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-2" href="{{ site.baseurl }}/user-guides/">
                  {% t dict.guide.title %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-2" href="https://github.com/pactus-project/Whitepaper/releases/latest/download/pactus_whitepaper.pdf" target="_blank"
                  rel="noopener noreferrer">
                  {% t dict.whitepaper %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-2" href="https://pacviewer.com/" target="_blank"
                  rel="noopener noreferrer">
                  {% t dict.block_explorer %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-2" href="https://github.com/pactus-project/" target="_blank"
                  rel="noopener noreferrer">
                  {% t dict.source_code %}
                </a>
                <a class="nav-link dropdown-item ps-2" href="https://pips.pactus.org" target="_blank">
                  {% t dict.pips %}
                </a>
              </li>
            </ul>
          </li>
          {% include lang_menu.html %}
          {% include color_mode.html %}
        </ul>
      </div>
    </div>
  </nav>
</div>

