<div class="container-md px-0">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand logo p-3" href="{{ site.baseurl }}/">
        <img src="{{ site.url }}/assets/images/logos/text_logo.png" alt="Pactus blockchain" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="topnav navbar-nav" style="margin-right: auto !important">
          <li class="nav-item dropdown ps-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% t dict.about %}
            </a>
            <ul class="dropdown-menu bg-light border-0 pe-0 fixed-menu">
              <li>
                <a class="nav-link dropdown-item ps-4" href="{{ site.baseurl }}/about/what-is-pactus/">
                  {% t dict.what_is.title %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-4" href="{{ site.baseurl }}/about/roadmap/">
                  {% t dict.roadmap.title %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-4" href="{{ site.baseurl }}/about/faq/">{% t dict.faq.title %}</a>
              </li>
            </ul>
          </li>
          <li class="nav-item ps-4">
            <a class="nav-link" href="{{ site.baseurl }}/learn/">{% t dict.learn.title %}</a>
          </li>
          <li class="nav-item ps-4">
            <a class="nav-link" href="{{ site.baseurl }}/download/">{% t dict.download.title %}</a>
          </li>
          <li class="nav-item dropdown ps-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% t dict.resources %}
            </a>
            <ul class="dropdown-menu bg-light border-0 pe-0 fixed-menu">
              <li>
                <a class="nav-link dropdown-item ps-4" href="{{ site.baseurl }}/community/">
                  {% t dict.community.title %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-4" href="{{ site.baseurl }}/contributing/">
                  {% t dict.contributing %}
                </a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-4" href="{{ site.baseurl }}/blog/">{% t dict.blog.title %}</a>
              </li>
              <li>
                <a class="nav-link dropdown-item ps-4" href="{{ site.baseurl }}/user-guides/">
                  {% t dict.guide.title %}
                </a>
              </li>
            </ul>
          </li>
        </ul>
        {% include lang_menu.html %}
      </div>
    </div>
  </nav>
</div>
