{% capture title %}{% if page.title contains "dict." %}{%t page.title%} | {% t
dict.pactus_blockchain%}{%else%}{{ page.title }} | {% t dict.pactus_blockchain%}{% endif %}{%
endcapture %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ page.seo_desc }}" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ page.seo_desc }}" />
  <meta property="og:site_name" content="{% t dict.pactus_blockchain %}" />
  <meta property="og:url" content="{{ site.url }}/{{ page.url }}" />
  <meta property="og:type" content="website" />

  <link rel="shortcut icon" href="/assets/images/logos/208_circle.png" type="image/png" />
  <link rel="icon" type="image/png" sizes="128x128" href="/assets/images/logos/128_circle.png" />
  <link rel="icon" type="image/png" sizes="64x64" href="/assets/images/logos/64_circle.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/logos/32_circle.png" />

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/native.css" rel="stylesheet" />
  <link href="/assets/css/fontawesome.min.css" rel="stylesheet" />
  <link href="/assets/css/custom.css" rel="stylesheet" />

  <script src="/assets/js/jquery-3.6.1.min.js"></script>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/anchor.min.js"></script>
  <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="/assets/js/custom.js"></script>
</head>
