{% capture title %}{% if page.title contains "dict." %}{%t page.title%} | {% t
dict.pactus_blockchain%}{%else%}{{ page.title }} | {% t dict.pactus_blockchain%}{% endif %}{%
endcapture %}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ title }}</title>
  <meta name="description" content="{{ page.seo_desc }}" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ page.seo_desc }}" />
  <meta property="og:site_name" content="{% t dict.pactus_blockchain %}" />
  <meta property="og:url" content="{{ site.url }}/{{ page.url }}" />
  <meta property="og:type" content="website" />

  <link href="{{ site.url }}/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ site.url }}/assets/css/custom.css" rel="stylesheet" />

  <link rel="shortcut icon" href="{{ site.url }}/assets/images/Logos/64-Cir.png" type="image/png">

  <script src="{{ site.url }}/assets/js/bootstrap.bundle.min.js"></script>
  <script async src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script src="{{ site.url }}/assets/js/custom.js"></script>
</head>
