<div class="navbar-nav">
  <div class="nav-item dropdown ps-4 pe-2">
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <img
        src="/assets/images/language.png"
        alt="Language selector icon"
        class="icon-language ps-0"
        width="24"
        height="24" />
      {{ site.data.languages[site.lang] }}
    </a>
    <ul class="dropdown-menu bg-light border-0 pe-0">
      {% for lang in site.data.languages %} {% if lang[0] == site.lang %}{% continue %}{% endif %}
      {% if lang[0] == 'en' %}
      <li class="nav-item ps-4">
        <a class="nav-link" href="{{ site.baseurl_root }}{{ page.url}}">{{ lang[1] }}</a>
      </li>
      {% else %}
      <li class="nav-item ps-4">
        <a class="nav-link" href="{{ site.baseurl_root }}/{{ lang[0] }}{{ page.url}}">
          {{ lang[1] }}
        </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</div>
