name: Check

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  yaml:
    name: Lining Yaml files
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Linting Yaml files
        run: |
          yarn run lint:yml:setup
          yarn run lint:yml

  markdown:
    name: Lining Markdown files
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'

      - name: Linting MD files
        run: |
          yarn run lint:md:setup
          yarn run lint:md

  html-proofer:
    name: Check for broken links and HTML5 Validator
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.0'

      - name: Build the website
        run: |
          bundle install
          bundle exec jekyll build

      - name: Install html-proofer
        run: |
          gem install html-proofer -v 4.3

      ##
      ## Status code 429: https://http.dev/429
      ## Status code 999: https://http.dev/999#linkedin
      ## Status code 403: https://http.dev/403
      ##
      ## By swap-urls, we don't get error if we rename or move a document.
      - run: htmlproofer --swap-urls 'https\://pactus.org:' --ignore-status-codes "999,429,403" --check_internal_hash=false --ignore-urls=/github.com/,/cdn./,/discord.gg/,/t.me/,/tools.ietf.org/ ./_site

      - name: HTML5Validator
        uses: Cyb3r-Jak3/html5validator-action@v7.2.0
        with:
          root: _site/
