name: Check
on: [push, pull_request]

jobs:
  yaml:
    name: Lining Yaml files
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Linting Yaml files
        run: |
          yarn run lint:yml:setup
          yarn run lint:yml

  markdown:
    name: Lining Markdown files
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: actions/setup-ruby@v1

      - name: Linting MD files
        run: |
          yarn run lint:md:setup
          yarn run lint:md

  html-proofer:
    name: Check for broken links
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: actions/setup-ruby@v1

      - name: Build the website
        run: |
          bundle install
          bundle exec jekyll build

      - name: Install html-proofer
        run: |
          gem install html-proofer -v 4.3

      ## Status code 429:  https://http.dev/429
      ## Status code 999:  https://http.dev/999#linkedin
      - run: htmlproofer --swap-urls 'https\://pactus.org:' --ignore-status-codes "999,429" --check_internal_hash=false --ignore-urls=https://www.pactusscan.com  ./_site
